.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .row{
    width: 100%;
  }
  .header__logo{
    padding: 10px 20px;
  }
  .header__nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .header-nav__item{
      padding: 10px;
      color: #fff;
    }
  }
}
