.top-section{
  position: relative;
  height: 100%;
  .top-section__interface{
    height: 100%;
    z-index: 2;
    position: relative;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.7) 100%);
  }
  .top-section__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .centered-block{
    color: #ffffff;
  }
}